<p>gif-search section</p>
<div class="gif-search">
  <mat-form-field appearance="outline">
    <mat-label>Search GIPHY</mat-label>
    <input matInput [(ngModel)]="searchQuery" (input)="onSearchChange()"/>
  </mat-form-field>
  <div class="gif-container">
    <div *ngFor="let gif of searchResults" class="gif">
      <img [src]="gif.url" [alt]="gif.name"/>
      <div class="gif-name">{{ gif.name }}</div>
      <button mat-icon-button (click)="addGifToCollection(gif)">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>
</div>
