<div cdkDropListGroup>
  <div class="example-container">
    <h2>gif-search section</h2>
    <mat-form-field appearance="outline">
      <mat-label>Search gif keywods</mat-label>
      <input matInput [(ngModel)]="searchQuery" (input)="debounceSearchChange()" placeholder="key words"/>
    </mat-form-field>

    <div
      cdkDropList
      [cdkDropListData]="searchResults"
      class="example-list"
      cdkDropListSortingDisabled
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let gif of searchResults" cdkDrag>
        <img [src]="gif.url" [alt]="gif.name"/>
        <div class="gif-name">{{ gif.name }}</div>
        <button mat-icon-button (click)="addGifToCollection(gif)">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>gif-collection section</h2>
    <mat-form-field appearance="outline">
      <mat-label>Search in your collection</mat-label>
      <input matInput [(ngModel)]="store.searchQuery" (input)="store.onSearchChange()"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sort by</mat-label>
      <mat-select (selectionChange)="store.onSortChange($event.value)">
        <mat-option value="dateAsc">Date added (ascending)</mat-option>
        <mat-option value="dateDesc">Date added (descending)</mat-option>
        <mat-option value="nameAsc">Name (ascending)</mat-option>
        <mat-option value="nameDesc">Name (descending)</mat-option>
      </mat-select>
    </mat-form-field>

    <div
      cdkDropList
      [cdkDropListData]="store.filteredGifs"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let gif of store.filteredGifs" cdkDrag>
        <mat-card-actions>
          <button mat-button (click)="store.downloadGif(gif.url, gif.name)">
            <mat-icon>cloud_download</mat-icon>
          </button>
          <button mat-button (click)="store.removeGif(gif.url)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
        <mat-card>
          <img [src]="gif.url" [alt]="gif.name">
          <p>{{ gif.name }}</p>
        </mat-card>

      </div>
    </div>
  </div>
</div>
