<div cdkDropListGroup class="container">
  <div class="gif-container search-container">
    <h2>gif-search section</h2>
    <mat-form-field appearance="outline">
      <mat-label>Search gif keywords</mat-label>
      <input matInput [(ngModel)]="searchQuery" (input)="debounceSearchChange()" placeholder="key words"/>
    </mat-form-field>

    <div
      class="gif-search-container"
      cdkDropList
      [cdkDropListData]="searchResults"
      cdkDropListSortingDisabled
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let gif of searchResults" cdkDrag>
        <img [src]="gif.url" [alt]="gif.name"/>
        <div class="gif-name">{{ gif.name }}</div>
        <button mat-icon-button (click)="addGifToCollection(gif)">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="gif-container">
    <h2>gif-collection section</h2>
    <mat-form-field appearance="outline">
      <mat-label>Search in your collection</mat-label>
      <input matInput [(ngModel)]="store.searchQuery" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sort by</mat-label>
      <mat-select (selectionChange)="store.onSortChange($event.value)">
        <mat-option value="dateAsc">Date added  <mat-icon>arrow_drop_up</mat-icon></mat-option>
        <mat-option value="dateDesc">Date added   <mat-icon>arrow_drop_down</mat-icon></mat-option>
      </mat-select>
    </mat-form-field>

    <div
      cdkDropList
      [cdkDropListData]="store.filteredGifs"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let gif of store.filteredGifs" cdkDrag >
        <div *ngIf="showFilter(gif)">
          <mat-card-actions>
            <button mat-button (click)="store.downloadGif(gif.url, gif.name)">
              <mat-icon>download</mat-icon>
            </button>
            <button mat-button (click)="store.removeGif(gif.url)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
          <mat-card>
            <img [src]="gif.url" [alt]="gif.name">
            <p>{{ gif.name }}</p>
          </mat-card>
        </div>

      </div>
    </div>
  </div>
</div>
