<p>gif-collection section</p>
<div class="gif-collection">
  <div class="gif-container">
    <mat-form-field appearance="outline">
      <mat-label>Search in your collection</mat-label>
      <input matInput [(ngModel)]="store.searchQuery" (input)="store.onSearchChange()"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sort by</mat-label>
      <mat-select (selectionChange)="store.onSortChange($event.value)">
        <mat-option value="dateAsc">Date added (ascending)</mat-option>
        <mat-option value="dateDesc">Date added (descending)</mat-option>
        <mat-option value="nameAsc">Name (ascending)</mat-option>
        <mat-option value="nameDesc">Name (descending)</mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <ktd-grid [cols]="cols"
            [rowHeight]="rowHeight"
            [layout]="store.filteredGifs"
            (layoutUpdated)="onLayoutUpdated($event,store.filteredGifs)">
    <ktd-grid-item *ngFor="let gif of store.filteredGifs; trackBy:trackById" [id]="gif.id">
      <mat-card-actions>
        <button mat-button (click)="store.downloadGif(gif.url, gif.name)">Download</button>
        <button mat-button (click)="store.removeGif(gif.url)">Remove</button>
      </mat-card-actions>
      <mat-card>
        <img [src]="gif.url" [alt]="gif.name">
        <p>{{ gif.name }}</p>
      </mat-card>
    </ktd-grid-item>
  </ktd-grid>


</div>
